.form_items {
    background-color: white;
    width: 320px;
    height: 322px;
    outline: 1px solid;
    margin-top: 20px;
    margin-left: 800px;
    border-radius: 10px;
}

.input_content {
    width: 272px;
    height: 40px;
    border-radius: 10px;
}

.singin_knap {
    width: 272px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
}